body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

label{
    color: white;
}

input{
    border-radius: 8px;
}

input:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

#urlSubmission{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    outline: #1ed36f dot-dash 3px;
}